// correct file name is cypress.env.json
// variables should be filled with valid data for tests to pass

{
  "tesonet_username": "tesonet username",
  "tesonet_password": "tesonet password",
  "tesonet_session_token": "tesonet log in session token"
}
