.p0 {
	padding: 0;
}

.m0 {
	margin: 0;
}

.m0a {
	margin: 0 auto;
}

.p05 {
	padding: var(--small-size);
}

.p {
	padding: var(--regular-size);
}

.p-2 {
	padding: var(--large-size);
}

.pt {
	padding-top: var(--regular-size);
}

.pt-2 {
	padding-top: var(--large-size);
}

.px {
	padding: 0 var(--regular-size);
}

.px-2 {
	padding: 0 var(--large-size);
}

.py {
	padding: var(--regular-size) 0;
}

.py-2 {
	padding: var(--large-size) 0;
}

.mt {
	margin-top: var(--regular-size);
}

.mt-2 {
	margin-top: var(--large-size);
}

.my {
	margin: var(--regular-size) 0;
}

.my-2 {
	margin: calc(var(--regular-size) * 2) 0;
}

.mr {
	margin-right: var(--regular-size);
}

.ml {
	margin-left: var(--regular-size);
}

.fw-100 {
	font-weight:  var(--fw-light);
}

.fw-400 {
	font-weight:  var(--fw-regular);
}

.fw-600 {
	font-weight:  var(--fw-bold);
}

.fs-small {
	font-size: var(--fs-small-size);
}

.fs-regular {
	font-size: var(--fs-regular-size);
}

.fs-medium {
	font-size: var(--fs-medium-size);
}

.fs-large {
	font-size: var(--fs-large-size);
}

.box-shadow {
	box-shadow: 0 0 0 0.1rem rgba(56,60,67,.05), 0 0.1rem 0.3rem 0 rgba(56,60,67,.15);
}

.constraints-md {
	max-width: 100rem;
}

.flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.dir-row {
	flex-direction: row;
}

.space-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.flex-row {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.cp {
	cursor: pointer;
}

.position-r {
	position: relative;
}

.position-a {
	position: absolute;
}

.b-sizing-content {
	box-sizing: content-box;
}

.b-sizing-border {
	box-sizing: border-box;
}