.Server-list__header {
  color: #000;
  
  &::after,
  &::before {
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    content: '';
    height: 0;
    position: absolute;
    right: -10px;
    width: 0;
  }

  &::before {
    border-bottom: 0.3rem solid black;
    top: 0.5rem;
  }
  
  &::after {
    border-top: 0.3rem solid black;
    bottom: 0.5rem;
  }
}