.Login {
  max-width: 50rem;
  
  &__box {
    background-color: white;
    min-height: 575px;
  }
  
  &__logo {
    height: 100%;
    margin: 0 auto;
    max-width: 15rem;
    width: 100%;
  }
  
  &__input,
  &__button {
    height: calc(var(--regular-size) * 3.5);
  }
  
  &__button {
    background-color: #598fff;
    border: 0;
    color: white;
  }
  
  &__input {
    border: 0.1rem solid #00000040;
    
    &::placeholder {
      opacity: 0.35;
    }
  }
}